<h1>ценчио</h1>

<table class="table table-striped">
   <thead class="thead-inverse">
    <tr>
      <th>ценчио</th>
    </tr>
  </thead>
  <tbody>
  <% @category33s.each do |category33| %>
    <tr>
      <td><%= link_to category33.category33, category33_path(category33.code) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
