<h1>市場</h1>
<table class="table table-striped">
   <thead class="thead-inverse">
    <tr>
      <th>市場</th>
    </tr>
  </thead>
  <tbody>
  <% @markets.each do |market| %>
    <tr>
      <td><%= link_to market.market, market_path(market.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
