<h1><%= @market.market %></h1>

<h2>企業一覧</h2>
<ul>
<% @market.company_ids.each do |company_id| %>
<li>
  <% unless @companies[company_id].nil?  %>
    <%= link_to @companies[company_id].name , company_path(company_id) %>
  <% end %>
</li>
<% end %>
</ul>
